/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    padding: 30px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Press Start 2P', cursive;
    background-color: aquamarine;
    margin: 0 auto;
}
h1{
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    
}
#heading{
   text-align: center;
}   
#brain{
    height: 80px;
    width: 80px;
    background-image: url(../img/brain.png);
    background-size: contain;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 20px;
}